#{
 margin: 0;
padding: 0;
box-sizing: border-box;
}


.bg-light {
    background-color: #fbfbfb !important;
    font-family: 'Barriecito', cursive;
    font-family: 'Sedgwick Ave Display', cursive;
}

.ml-auto img{
width: 20px;

}

.img-fluid{
  width: 80%;
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
 
}

.ml-auto{
  list-style: none;
}

.fa-github:before {
  content: none;
}

.fa-linkedin:before {
  content: none;
}

button:hover {
  background-color: #c90506;
}


.fa-instagram:before {
  content: none;
}



.row {
    display: flex;
    flex-wrap: wrap;
}



.col-md-6{
    flex-basis: 50%;
    padding: 80px 2px;
    text-align: justify;
}


h2,p,button{
  color: black;
  font-family: 'Barriecito', cursive;
  font-family: 'Sedgwick Ave Display', cursive;
}

.col-md-6 p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.container {
    display: flex;
  }

.form-container {
    flex: 1;
    margin-right: 20px;
  }

  .social-container {
    flex: 1;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input, textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    /*border: none;
    outline: none;*/
    border-radius: 10px;
  }

  button {
    padding: 10px 20px;
    background-color: #181b1a;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 82%;
    border-radius: 10px;
    width: 20%;
  }

  /* Estilos CSS para os links das redes sociais */
  .social-links {
    display: flex;
    justify-content: space-between;
  }


  #contato input{
    border-bottom-color: gray ;
    border-bottom-style:solid ;
    border-bottom-width: 2px ;
  }

  .container , .social-container h2,
  .social-links{
    margin-left:auto;
    margin-right: auto;
    text-align: center
  }

  .footer-left{
    text-align: left;
    margin: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;

  }


  .social-links img{
    height: 100px;
  }

  .social-links{
    display: grid;
    justify-content: center;
    padding: 10px;
    background-color: #1c1d1d;
    border-radius: 32px;
    margin-top: 5%;
  }


  .podcast-section h2,button{
    color: #f1eeee;
  }

  .menu .menu-lines{
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
  }
  .menu .menu-lines span{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px ;
    background-color: #0a0a0a;
    border-radius: 3px;
    transition: all ease .2s;
  }

  .menu .menu-faketrigger{
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
  }




.menu .menu-faketrigger:checked ~ .menu-lines span{
  background-color: #eae6e6f9;
}

.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(1){
transform-origin: 0% 0%;
transform: rotate(45deg) scaleX(1.25);
}
.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(2){
opacity: 0;
}
.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(3){
  transform-origin: 0% 100%;
  transform: rotate(-45deg) scaleX(1.25);
}

.menu ul li{
  padding: 10px 30px;
  list-style-type: none;

}

.menu{
  margin-left: 20px;
  margin-top: 5px;
}
.menu ul li a{
  text-decoration: none;
  color: #f1eeee;
  transition: all  .3s ;
}

.menu ul li a:hover{
  color: rgba(173, 172, 171, 0.836);
}

.menu ul{
  position: absolute;
  z-index: 998;
  left: 0;
  top: 0;
  width: 100%;
  height: 6vh;
  margin-top: -50px;
  background-color: #1c1919;
  transition: all ease .2s;
}

.menu .menu-faketrigger:checked ~ ul{
margin-top: 0;
height: 50px;
}

.redes-sociais {
  text-align: center;
  margin-top: 10%;
}

.lista-redes {
  list-style: none;
  padding: 0px;
  
}

.lista-redes li {
  display: inline-block;
  margin: 0 10px;
  padding: 35px;
}

.icone-facebook {
  background: url('imagens/face.png') no-repeat;
  background-size: 20px 20px;
  padding-left: 25px;
}

.icone-instagram {
  background: url('imagens/Insta.png') no-repeat;
  background-size: 20px 20px;
  padding-left: 25px;
}

.icone-twitter {
  background: url('imagens/X-Novo-twitter-Credito_Reproducao.jpg') no-repeat;
  background-size: 20px 20px;
  padding-left: 25px;
}

.icone-linkedin {
  background: url('imagens/linkedin.png') no-repeat;
  background-size: 20px 20px;
  padding-left: 25px;
}
.icone-git {
  background: url('imagens/git.png') no-repeat;
  background-size: 20px 20px;
  padding-left: 25px;
}


